body {
background-image: url('fondo.jpg');
background-repeat: no-repeat;
background-color: #FFFFFF;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
content: "";
background-position: center;
background-size: cover;
background-blend-mode: multiply;
z-index: 1;

}

h1 {
font-family: Bahnschrift;
font-size: 5;

}
img {
    width: 420px;
  }